.kontener{
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 30px;
}

.comBl{
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
}

.meil{
    font-weight: bold;
}

.svg1{
    min-width: 24px;
    min-height: 24px;
    margin-left: 440px;
}

.addBut{
    width: 80px;
    height: 25px;
    color: aliceblue;
    background-color: black;
    border-radius: 12px;
    font-family: sans-serif;
}